.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  padding: 20px;
  margin-top: 50px;
  overflow: hidden;
  width: 1080px;
}

.product-container {
  position: relative;
  width: 90%;
}

.deleted-label {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 2;
  font-size: 0.9em;
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(179, 179, 179, 0.5);
  z-index: 1;
  border-radius: 5px;
}

.deleted-product .overlay,
.deleted-product .deleted-label {
  display: block;
}
